
html, body {
    width: 100%;
    height: 100%;
    background-color: black;
    overflow: hidden;
}

#display {
    position:absolute;
    top: 4px;
    left: 10px;
    color:white;
    text-align: center;
    font-family: "Helvetica Neue Light", "Lucida Grande", "Calibri", "Arial", sans-serif;
}


#info {
    color:green;
    font-size:10px;
    font-family: "Helvetica Neue Light", "Lucida Grande", "Calibri", "Arial", sans-serif;
    top: 10px;
    left: 120px;
    position:absolute;
}

.system-option, #choose-system{
    text-align: center;
}
.bodies {
    position: absolute;
    border-radius:50%;
}

.planet {
    top: 0;
    left: 50%;
}

#sun {
    top: 50.1%;
    left: 50.1%;
    box-shadow: 0 0 2px white;
}

.orbit {
    position: absolute;
    top: 50%;
    left: 50%;
    border-width: 1px;
    border-style: dotted;
    border-color: #1f1f1f;
    border-radius: 50%;
}

@keyframes spin-right {
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes spin-right {
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}






